@model IEnumerable<WebMVC.Models.Game>

@{
    //Layout = null;
}

<div class="gamelist">
    @foreach (var item in Model)
			{
                <div class="gamelistitem">
                    <div class="gamelistimg"><a href="@Url.Action("Details","Game", new {id = item.GameID})"><img src="/images/placeholder2.jpg"/></a></div>
                    <div class="overlay">Fasz</div>
                </div>
			}
</div>
