@{ ViewData["Title"] = "Home Page";
}

<h1 style="padding-top:150px; text-align:center;">News</h1>
<div class="picture-text-list">
        <div class="picture-text">
            <img src="/images/placeholder2.jpg" />
            <div id="text">
                <h2>Sample News - hardcoded</h2>
                <p>Sample Text - hardcoded</p>
            </div>
        </div>

        <div class="picture-text">
            <img src="/images/placeholder2.jpg" />
            <div id="text">
                <h2>Sample News - hardcoded</h2>
                <p>Sample Text - hardcoded</p>
            </div>
        </div>

        <div class="picture-text">
            <img src="/images/placeholder2.jpg" />
            <div id="text">
                <h2>Sample News - hardcoded</h2>
                <p>Sample Text - hardcoded</p>
            </div>
        </div>

        <div class="picture-text">
            <img src="/images/placeholder2.jpg" />
            <div id="text">
                <h2>Sample News - hardcoded</h2>
                <p>Sample Text - hardcoded</p>
            </div>
        </div>
</div>