@{ ViewData["Title"] = "Home Page";
}

<h1 style="padding-top:150px; text-align:center;">News</h1>
<div class="picture-text-list">
        <div class="picture-text">
            <img src="/images/cake.webp" />
            <div id="text">
                <h2>0th Anniversary Sale</h2>
                <p>We are celebrating the birth of our store with some mind-boggling sales. Make sure you check out our games page because our deals are absolutely mental. I am going crazy typing nonsense, I just want to fill the textbox, please make it stop.</p>
            </div>
        </div>

        <div class="picture-text">
            <img src="/images/placeholder2.jpg" />
            <div id="text">
                <h2>Sample News - hardcoded</h2>
                <p>Sample Text - hardcoded</p>
            </div>
        </div>

        <div class="picture-text">
            <img src="/images/placeholder2.jpg" />
            <div id="text">
                <h2>Sample News - hardcoded</h2>
                <p>Sample Text - hardcoded</p>
            </div>
        </div>

        <div class="picture-text">
            <img src="/images/placeholder2.jpg" />
            <div id="text">
                <h2>Sample News - hardcoded</h2>
                <p>Sample Text - hardcoded</p>
            </div>
        </div>
</div>