.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 99, 71);
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
    margin-left: 0px !important;
}

    .navbar li {
        display: inline;
        font-weight: 300;
        font-size: x-large;
        color: white;
        padding: 18px;
        float: left;
        text-align: center;
        text-decoration: none;
    }

        .navbar li:hover {
            background-color: rgb(216, 84, 60)
        }

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    margin: 0;
    background-image: url(/images/2.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.titlearea {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

    .titlearea h1 {
        padding-top: 8px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bolder;
    }

.tomatobutton {
    background-color: tomato;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 25px;
}

    .tomatobutton:hover {
        color: tomato;
        background-color: white;
    }

#pagecontent {
    margin-left: 20px;
    margin-right: 20px;
}

#showcasearea {
    width: 50%;
    margin: auto;
}

    #showcasearea * {
        margin: auto;
        width: 100%;
        text-align: center;
    }

#buyform {
    width: 40%;
    float: left;
    text-align: left;
    padding-left: 20px;
}

    #buyform * {
        width: 100%;
    }

.button-undertext {
    text-align: center;
    margin-top: 0px;
}

#systemrequirements {
    width: 40%;
    float: right;
    text-align: left;
    padding-right: 20px;
}

#horizontal-wrapper {
    padding-top: 100px;
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.gamelist {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.gamelistitem {
    flex: 1 0 calc(20.00% - 10px);
    margin: 5px;
    margin-top: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gamelistimg img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    display: block;
}


.overlay {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    width: 300px;
    height: 400px;
    text-align: center;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
}

.gamelistitem:hover .overlay {
    opacity: 1;
}




/*developer index*/

.picture-text-list {
    width: 75%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.picture-text {
    display: flex;
    height: 300px;
    margin: 0px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
}

    .picture-text img{
        width: 30%;
        object-fit: cover;
        float:left;
    }

    .picture-text #text {
        padding: 0px;
        margin-left: 20px;
    }


/*contact*/

.contact-container {
    width: 75vw;
    margin: auto;
}

    .contact-container p {
        text-align: center;
    }

#contactemail {
    width: 25%;
    float:left;
    margin-bottom: 10px;
    margin-top: 50px;
}

#contacttext {
    float:left;
    width: 100%;
    height: 400px;
    resize: none;
}

#contactsubmit {
    margin-top: 10px;
    float: right;
}


/*event*/

#eventname {
    text-align:center;
    margin-top: 150px;
}

#countdown {
    text-align:center;
}

#eventimage {
    width: 50vw;
    margin: auto;
}

    #eventimage img {
        width: 100%;
        object-fit:scale-down;
    }

#eventdescription {
    width: 50%;
    margin:auto;
}

#eventform {
    width:50%;
    margin:auto;
    margin-top:50px;
}

    #eventform div {
        display:flex;
        justify-content:space-between;
        width:250px;
    }

        #eventform div h4 {
            padding-top:6px;
        }

#eventsubmit {
    margin-top:10px;
}