/* _content/WebMVC/Views/Game/Details.cshtml.rz.scp.css */
.navbar[b-w617uacm1g] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 99, 71);
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}

    .navbar li[b-w617uacm1g] {
        display: inline;
        font-weight: 300;
        font-size: x-large;
        color: white;
        padding: 18px;
        float: left;
        text-align: center;
        text-decoration: none;
    }

        .navbar li:hover[b-w617uacm1g] {
            background-color: rgb(216, 84, 60)
        }

body[b-w617uacm1g] {
    color: white;
    margin: 0;
    background-image: url(/images/2.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



#titlearea[b-w617uacm1g] {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

    #titlearea h1[b-w617uacm1g] {
        padding-top: 8px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bolder;
    }

.tomatobutton[b-w617uacm1g] {
    background-color: tomato;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 25px;
}

    .tomatobutton:hover[b-w617uacm1g] {
        color: tomato;
        background-color: white;
    }

#pagecontent[b-w617uacm1g] {
    margin-left: 20px;
    margin-right: 20px;
}

#showcasearea[b-w617uacm1g] {
    width: 50%;
    margin: auto;
}

    #showcasearea *[b-w617uacm1g] {
        margin: auto;
        width: 100%;
        text-align: center;
    }

#buyform[b-w617uacm1g] {
    width: 40%;
    float: left;
    text-align: left;
    padding-left: 20px;
}

    #buyform *[b-w617uacm1g] {
        width: 100%;
    }

.button-undertext[b-w617uacm1g] {
    text-align: center;
    margin-top: 0px;
}

#systemrequirements[b-w617uacm1g] {
    width: 40%;
    float: right;
    text-align: left;
    padding-right: 20px;
}

#horizontal-wrapper[b-w617uacm1g] {
    padding-top: 100px;
    width: 50%;
    margin: auto;
    overflow: hidden;
}

/* _content/WebMVC/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar[b-hfo96tx0bd] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 99, 71);
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
    margin-left: 0px !important;
}

    .navbar li[b-hfo96tx0bd] {
        display: inline;
        font-weight: 300;
        font-size: x-large;
        color: white;
        padding: 18px;
        float: left;
        text-align: center;
        text-decoration: none;
    }

        .navbar li:hover[b-hfo96tx0bd] {
            background-color: rgb(216, 84, 60)
        }

body[b-hfo96tx0bd], html[b-hfo96tx0bd] {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

*[b-hfo96tx0bd] {
    box-sizing: border-box;
}

html[b-hfo96tx0bd] {
    scroll-behavior: smooth;
}
