<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebMVC</title>
    <link rel="stylesheet" href="~/WebMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body style="background-image:url(/images/background.jpeg)">
    <header>

        <ul class="navbar">
            <a asp-area="" asp-controller="Home" asp-action="Index">
            <li class="nav-item">Home</li></a>
            <a asp-area="" asp-controller="Game" asp-action="Index">
            <li class="nav-item">Games</li></a>
            <a asp-area="" asp-controller="Developer" asp-action="Index">
            <li class="nav-item">Developers</li></a>
            <a asp-area="" asp-controller="Event" asp-action="Index">
            <li class="nav-item">Event</li></a>
            <a asp-area="" asp-controller="Contact" asp-action="Index">
            <li class="nav-item" style="float:right">Contact</li></a>
        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("script", false/*required*/)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

